<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :quizzes_tab } %>

<% title "NEW Question, #{@quiz.main_title}" %>

<h1>
  <%= "NEW Question | #{@quiz.main_title}" %>
</h1>

<p>
  <%= link_to @quiz.main_title.upcase, @quiz %>
</p>

<% form_for @question, :url => quiz_questions_path do |f| %>
  <%= render :partial => "form", :locals => {:f => f, :question => @question} %>
<% end %>
