<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :faqs_tab } %>
<div class="admnRitCol">
  <h2>Add New Faq Category</h2>
  <%= render :partial => 'form' %>
</div>

