<p>
  <%= link_to image_tag("post-question-btn.png"),"JavaScript:void(0);",:class =>"show_hide", :id=>'pstQuesBtn' %>
  <%= link_to image_tag("theme/view-topics-btn.png"),:controller=>"messages", :action=>"topic_categories" %>
</p>