<%= render :partial => "admins/admin_client_information_menu", :locals => { :active_admin_client_information_tab => :radar_tab } %>

<% title "New News Provider" %>

<div class="admnRitCol">
  <h1>New News Provider</h1>
  <%= render :partial => 'form', :locals => {:news_provider => @news_provider} %>
</div>
