<% if @marketing_multimedia_message.is_video %>
  <!--<div style="z-index:0;  padding-top:30px; padding-left:30px; padding-bottom:30px; padding-right:30px; #width:635px; #height:480px;" class ="flvIe8">
    <object width='635' height='480' id='flvPlayer'>
      <param name='allowFullScreen' value='true' />
      <%# video_path = @marketing_multimedia_message.url_for_video_player %>
      <%#= "<param name='movie' value='/flvplayer/player.swf?movie=#{video_path}&bgcolor=0xff7800&fgcolor=0x7ef54f&volume=50&autoload=on&autoplay=on&autorewind=on&clickurl=&clicktarget=' />" %>
      <%#= "<embed src='/flvplayer/player.swf?movie=#{video_path}&bgcolor=0xff7800&fgcolor=0x7ef54f&volume=50&autoload=on&autorewind=on&autoplay=on&clickurl=&clicktarget=' width='640' height='480' allowFullScreen='true' type='application/x-shockwave-flash' >" %>
    </object>
  </div>-->
  <% video_path = @marketing_multimedia_message.url_for_video_player %>
  <%= render :partial => 'shared/flvplayer', :locals => {:video_path => video_path, :width => '640', :height => '396', :padding => nil} %>
<% else %>
  <%= image_tag @marketing_multimedia_message.multimedia.url(nil, false) %>
<% end %>
