<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear #{@user.first_name} #{@user.last_name}," %>
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        We want to remind you that you have a due date approaching on your
      </font>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
        <strong>
          WIBO 
        </strong>
      </font>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        account.
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <strong><%= "#{@section.title} is coming due on #{@section.due_date.strftime("%B %e, %Y").upcase}"%></strong>
      </font>
    </p>
   

    <p><font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">We are confident that you will succeed in this step, and we wish you luck in getting it done. Please check off
any action items in this step as "Complete" or "N/A".</font></p>
<p><font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">If you need more time, you can always change the due date by logging into your account and clicking on the
date field to modify. <a href="http://www.wickedstart.com">Click here</a> to update your account.</font></p>
<p><font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">If you have any additional questions, please contact us at <a href="mailto:info@WIBO.WickedStart.com">info@WIBO.WickedStart.com</a>.</font></p>


    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
      Thank you again for using WIBO powered by Wicked Start.
      </font>
    </p>
<br />
    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#000000">
        Sincerely,
        <br />
        <br />
        Workshop In Business Opportunities
      </font>
      <br />
      <br />

      <!--<a href="http://www.wickedstart.com/privacy_policy">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Privacy Policy</strong>
        </font>
      </a>-->
    </p>
    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#fa9b31" align="center">
            <a style="color:#ffffff;">
              www.wibo.wickedstart.com
            </a>
          </td>
        </tr>
      </table>
    </p>

  </body>
</html>