<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Workshop In Business Opportunities</title>
</head>

<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial, Helvetica, sans-serif;">
      <tbody><tr>
        <td >
          <a target="_blank" href="http://wibo.wickedstart.com/">
            <img border="0" alt="WIBO" src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" />
          </a>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
            <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
          </p>
          <hr noshade size="1" color="#226DC8" />
        </td>
      </tr>
           <tr>
        <td>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            Dear <%= @user.first_name %> <%= @user.last_name %>
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            We're sorry to hear that you want to cancel your
            <label style="color: rgb(248, 155, 75); text-decoration: none;">WIBO</label>.
            account.
          </p>

          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            We hope that you have found the Launch Pad service helpful in evaluating your business idea or starting a business.
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            Feel free to email us any time at
            <a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com">info@WIBO.WickedStart.com</a>
            as we would love to hear from you. If you should
            need to re-activate your account, you may do so for the next 90 days, until <%= (Date.today + 90.day).strftime("%B %e, %Y").upcase %>

          </p>

          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            If you have any additional questions, please contact us
            <a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com">info@WIBO.WickedStart.com</a>.
          </p>

          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            Thank you for using WIBO powered by Wicked Start!
          </p>
          <br />
          <br />


          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            Best regards,
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            The WIBO Team
          </p>
          <!--<p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            <span><a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com/privacy_policy">Privacy Policy</a></span>
          </p>-->
        </td>
      </tr>
      <tr>
        <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
          <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://wibo.wickedstart.com/">www.wibo.wickedstart.com</a></span>
        </td>
      </tr>
    </tbody></table>
</body>
</html>