<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
    <style>
      body {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#333333;
      }
    </style>
  </head>

  <body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
      <tr>
        <td>
          <a href="http://wibo.wickedstart.com/public_home">
            <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
          </a>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
            <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
          </p>
          <hr noshade size="1" color="#226DC8" />
        </td>
      </tr>

      <tr>
        <td>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <%= "Dear #{@user.first_name} #{@user.last_name}," %>
          </p>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            Congratulations on completing the action items in Step 1. You now have your business concept statement complete. 
            This document can be shared with peers, mentors or other stakeholders. If you have a logo for your business/idea, 
            you should upload to your Company Profile so it can be included in your document, already formatted! 
            If you don't have one at this time, don't worry about it. 
          </p>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            Please <a href="http://nyustern.qualtrics.com/SE/?SID=SV_8cQ2HwsTzl3hSQI" target="_blank">click here</a> to set up your appointment with a counselor/mentor. Feel free to email/share your Business Concept Statement with them ahead of time so that you can get the most out of your meeting.
          </p>

          --------------------------------------------------------------------------------

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            This message was intended for
            <%= @user.email %>
          </p>
          <br />

          <!--<p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <span>
              <a href="http://www.wickedstart.com/privacy_policy" style="color:#f89b4b; text-decoration:none;">
                Privacy Policy
              </a>
            </span>
          </p>-->

        </td>
      </tr>
      <tr>
        <td bgcolor="#f89b4b" height="30" valign="middle" align="center">
          <span><a href="http://wibo.wickedstart.com" style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none; font-size:16px; font-weight:bold;">www.wibo.wickedstart.com</a></span>
        </td>
      </tr>
    </table>
  </body>
</htm
