<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities - Account Recovery</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear #{@user.first_name}," %>
      </font>
    </p>

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Did you forget your username or password? Username or password
        information was recently requested for this account via
        the "Forgot password?" link on WIBO.WickedStart.com.
      </font>
    </p>

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Your WIBO account username is:
        <%= "<strong>#{@user.login}</strong>." %>
      </font>
    </p>

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        If you forgot your password for your WIBO account.
        Please click the following link to reset it.
      </font>
    </p>

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
        <strong>
          <%= link_to change_password_url(@user.perishable_token, :host => SITE_HOST_NAME), change_password_url(@user.perishable_token, :host => SITE_HOST_NAME) %>
          <%#= link_to @change_password_url, @change_password_url %>
        </strong>
      </font>
    </p>

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        If the link does not work, try copying and pasting it into an internet browser.
        If you ever have questions or concerns, please email us at
      </font>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
        <a href="mailto:info@WIBO.WickedStart.com">info@WIBO.WickedStart.com</a>
      </font>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        or use our livechat feature available online at
      </font>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31"><a href="http://www.wickedstart.com">www.wickedstart.com</a></font>.
    </p>

    <br />
    <br />
    <br />

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Sincerely,
        <br />
        <br />
        Workshop In Business Opportunities Team
      </font>
      <br />
      <br />
      <br />
      <!--<font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
        <strong>
          <a href="http://www.wickedstart.com/privacy_policy">Privacy Policy</a>
        </strong>
      </font>-->
    </p>

    <br />

    <p>
      <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <strong>
          Didn't ask to receive your username or reset your password?
        </strong>
        If you received this message in error and are concerned that someone
        may be trying to gain access to your account, please notify us at
        <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <a href="mailto:info@WIBO.WickedStart.com">info@WIBO.WickedStart.com</a>
        </font>
        so that we can work together to protect your privacy.
      </font>
    </p>

    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
            <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://wibo.wickedstart.com/public_home">www.wickedstart.com</a></span>
          </td>
        </tr>
      </table>
    </p>

  </body>
</html>
