Hi, WIBO Admin,
<br />
<br />
<p>
  <strong><%= @resource[:contact_name] %></strong> requests to submit a Resource. Following are the contact details <br /><br />
  Company Name: <%= @resource[:company_name] %><br />
  Email: <%= @resource[:email] %>
</p>
<br />
