<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial, Helvetica, sans-serif;">
      <tbody><tr>
        <td >
          <a target="_blank" href="http://www.wickedstart.com">
            <img border="0" alt="WICKEDSTART" src="http://www.wickedstart.com/images/logo.jpg" />
          </a>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
            <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
          </p>
          <hr noshade size="1" color="#226DC8" />
        </td>
      </tr>
           <tr>
        <td>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            Dear <%= @user.first_name %> <%= @user.last_name %>
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            We were unable to charge your credit card for your monthly
            <label style="color: rgb(248, 155, 75); text-decoration: none;"> Wicked Start </label>
            account subscription in the amount of $<%= RECURRING_AMOUNT %>.
          </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              We'll try again on <%= (Date.today + 4.day).strftime("%B %e, %Y").upcase %>. If we are unsuccessful, we will, unfortunately, have to cancel your account on this date.
            </p>

          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            If this happens, you will no longer have access to your Launch Pad account, including your Launch List of
            action items, files, and other resources that you may have come to rely upon as you evaluate your business
            idea or start your business.
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            To update your credit card information
            <a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com">Click here</a>
          </p>
          <br/>
          <br/>

          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            Best regards,
          </p>
          <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
            The Wicked Start Team
          </p>
          <!--<p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
            <span><a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com/privacy_policy">Privacy Policy</a></span>
          </p>-->
        </td>
      </tr>
      <tr>
        <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
          <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://www.wickedstart.com">www.wickedstart.com</a></span>
        </td>
      </tr>
    </tbody></table>
</body>
</html>
