
<div class="admnlftCol">
  <ul class="admnLnks">
    <!--<li>
      <%# if active_admin_sub_tab == :home_page_tab %>
        <a href="/admins/home_page_tab" class="active">Home</a>
      <%# else %>
        <a href="/admins/home_page_tab">Home</a>
      <%# end %>
    </li>-->

    <li>
      <% if active_admin_sub_tab == :radar_tab %>
        <a href="/admins/radar_tab" class="active">News</a>
      <% else %>
        <a href="/admins/radar_tab">News</a>
      <% end %>
    </li>

    <li>
      <% if active_admin_sub_tab == :faqs_tab %>
        <a href="/admins/faqs_tab" class="active">FAQ</a>
      <% else %>
        <a href="/admins/faqs_tab">FAQ</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :industry_tab %>
        <a href="/admins/industry_tab" class="active">Industries</a>
      <% else %>
        <a href="/admins/industry_tab">Industries</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :community_tab %>
        <a href="/admins/community_tab" class="active">Community</a>
      <% else %>
        <a href="/admins/community_tab">Community</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :user_tab %>
        <a href="/users" class="active">Users</a>
      <% else %>
        <a href="/users">Users</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :user_tooltips %>
        <a href="/admins/my_files_tab" class="active">User Files Tooltips</a>
      <% else %>
        <a href="/admins/my_files_tab">User Files Tooltips</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :company_tooltips %>
        <a href="/admins/company_tab" class="active">Company Tooltips</a>
      <% else %>
        <a href="/admins/company_tab">Company Tooltips</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :mentor_tab %>
        <a href="/mentors" class="active">Mentors</a>
      <% else %>
        <a href="/mentors">Mentors</a>
      <% end %>
    </li>
    
    <li>
      <% if active_admin_sub_tab == :resources_templates_tab %>
        <a href="/template_categories/list" class="active">Templates/Resources</a>
      <% else %>
        <a href="/template_categories/list">Templates/Resources</a>
      <% end %>
    </li>    

    <!--<li>
      <%# if active_admin_sub_tab == :about_us_tab %>
        <a href="/admins/about_us_tab" class="active">About Us</a>
      <%# else %>
        <a href="/admins/about_us_tab">About Us</a>
      <%# end %>
    </li>-->

  </ul>
</div>
