<%= select_tag "id_title",options_from_collection_for_select(items, :id, :title),{:multiple=>true, :prompt=> false}%>
<!--<p class="admnP"><%#= collection_select( :id, :title, items, :id, :title, {:prompt => false},{ :multiple => true },{:style => "width:300px"} )%></p>-->
