<%= render :partial => "admin_sub_menu", :locals => { :active_admin_sub_tab => :resources_tab } %>

<div class="admnRitCol">
<div class="admnCntDv">
<h4>RESOURCES PAGE GENERAL MESSAGE <a href="#">Edit</a></h4>
<%= render :partial => "marketing_message", :locals=>{:obj=>@marketing_message, :title=>'Resources Page General Message'} %>

</div>
<%#*<div class="admnImgDv">%>
<%#*<p class="imgP"><img src="../images/book.jpg" /></p>%>
<%#*<p class="uplodBtn"><a href="#"><img src="../images/uplod-img-btn.jpg" width="110" height="26" /></a></p>%>
<%#*</div>%>
</div>
<div class="admnRitCol">

</div>
