<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :about_us_tab } %>

<% title "NEW Biography" %>

<div class="admnRitCol">
  <h1>NEW Biography</h1>
  <%= render :partial => "form", :locals => {:biography => @biography} %>
</div>
