<ul>
<li><a href="#">Innovation</a></li>
<li><a href="#">Craigslist</a></li>
<li><a href="#">Disruptive Technology</a></li>
<li><a href="#">Startups</a></li>
<a href="#" class="editLink">Edit</a>
</ul>

<h2><img src="images/expert.jpg" /> Thank you for visiting Adobe.com. You have been randomly selected to participate in a visitor satisfaction survey. <a href="#">Edit</a></h2>
<p class="questionSender">Question Added by <a href="#">Screen Name</a> to topic <a href="#">Startups</a> 4:43pm on Saturday - Follow</p>
<p class="flag">28 Answers | <a href="#">Flag Question</a></p>
<div class="sepLeft"></div>
<p class="answers">28 Answers</p>
<div class="responseAnswer">
<h6><a href="#">Xinhang Zang</a>, "More huggable than the average guy" ... <br /><span>491 Votes</span></h6>
<div class="responseImage"><img src="images/expert.jpg" /></div>
<p><strong>tellus ante scelerisque tellus,</strong> at mollis nisi nulla at lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ut enim ac lacus euismod faucibus. Praesent semper nunc eu tortor mattis a fermentum tortor commodo. <a href="#">Read Post...</a></p>
<p><img src="images/chart.png" /></p>
<p><a href="#">Add Comment</a> | <a href="#">Wickedstart Helpful</a> | <a href="#">No Helpful</a> | Apr 5, 2011 | <a href="#">Flag Answer</a></p>
</div>
<div class="responseForm">
<div class="responsUser">
<h5>Add Answer</h5>
<p><a href="#">Darlene Newman.</a> My Capital Technologies / Wicked Start  <a href="#" class="editLinks">Edit Bio</a> | <a href="#" class="editLinks">Make Anonymous</a></p>
</div>
<div class="responseImage"><img src="images/expert.jpg" /></div>
<div class="responseFields"><textarea></textarea>
<input type="image" src="images/theme/add-answer-btn.png" class="adAnswerBtn" />
</div>
</div>

</div>

</div>

<div class="communityRightCol">
<p class="fb"><a href="#"><img src="images/theme/follow-question-btn.png" /></a></p>
<p class="fb"><img src="images/fb.png" /></p>
</p>

</div>
