<h2>Edit Resource Category</h2>

<% form_for @resource_category do |f| %>
  <%#= f.error_messages :header_message => nil, :message => nil %>
  <p>
    <%= f.label :title %> <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit :update %>
  </p>
  <p>
    <%= link_to '<< Back', url_for(:back) %>
  </p>
<% end %>

