<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :partners_tab } %>

<% title "Edit Partner" %>

<div class="admnRitCol">
  <h1>Edit Partner</h1>
  <%= render :partial => 'form', :locals => {:partner => @partner} %>
</div>
