<%= render :partial => "admins/admin_client_information_menu", :locals => { :active_admin_client_information_tab => :radar_tab } %>

<% title "New News Article" %>

<div class="admnRitCol">
  <h1>New News Article</h1>
  <%= render :partial => 'form', :locals => {:news_article => @news_article} %>
</div>
