body	{ font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal; color:#707070; }
h1		{ font-size:22px; margin:0; padding:0; }
h2		{ font-size:20px; margin:0; padding:0; }
h3		{ font-size:18px; margin:0; padding:0; }
h4		{ font-size:16px; margin:0; padding:0; }
h5		{ font-size:14px; margin:0; padding:0; }
img		{ border:none; }
p		{ margin:0; padding:0; }
a		{ font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#226dc8; text-decoration:none; }
a:hover	{ color:#000; text-decoration:underline; }
form	{ margin:0; padding:0; }


/*================== Start Page Container ==================*/

#container			{ width:977px; height:1450px; margin:0 auto; }
.header					{ float:left; width:100%; height:106px; }
.header .logo			{ float:left; margin-top:20px; }
.header .signLnks		{ float:right; width:267px; margin-bottom:15px; vertical-align:middle; }
.header .lgnDv			{ float:right; width:410px; }
.lgnDv .lgntxt			{ float:left; width:140px; border:1px solid #666; margin-right:5px; }
.header a				{ text-transform:uppercase; color:#363636; font-size:12px; font-weight:bold; }


/*================== Navigation Area ==================*/
.nav					{ float:left; width:100%; }
.nav ul.navMnu			{ float:left; list-style-type:none; margin:0; padding:0; }
ul.navMnu li			{ float: left; margin-right:2px; }
ul.navMnu li a			{ float:left; width:183px; line-height:37px; padding-top:22px; padding-left:10px; background:url(../images/nav-bg.jpg) top left repeat-x; display: block; color:#fff; font-size:14px; font-weight:bold; }
ul.navMnu li a .navLft	{ float:left; width:13px; height:59px; background:url(../images/nav-bg-left.jpg) top left no-repeat; margin-top:-22px; margin-left:-10px; }
ul.navMnu li a .navRite	{ float:right; width:13px; height:59px; background:url(../images/theme/nav-bg-right.jpg) top right no-repeat; margin-top:-22px; }
ul.navMnu li a:hover	{ float:left; width:183px; padding-left:10px; background:url(../images/theme/nav-over.jpg) top left repeat-x; display:block; color:#fff; text-decoration:none; }
ul.navMnu li a:hover .navLft	{ float:left; width:13px; height:59px; background:url(../images/theme/nav-lft-over.jpg) top left no-repeat; }
ul.navMnu li a:hover .navRite	{ float:right; width:13px; background:url(../images/theme/nav-rite-over.jpg) top right no-repeat; }
ul.navMnu li a.active			{ float:left; width:183px; padding-left:10px; background:url(../images/theme/nav-over.jpg) top left repeat-x; display:block; color:#fff; text-decoration:none; }
ul.navMnu li a.active .navLft	{ float:left; width:13px; background:url(../images/theme/nav-lft-over.jpg) top left no-repeat; }
ul.navMnu li a.active .navRite	{ float:right; width:13px; background:url(../images/theme/nav-rite-over.jpg) top right no-repeat;  }
.ntfyDv				{ float:left; width:99.6%; background:#dde7f1; height:28px; padding-top:8px; border-top:1px solid #fff; }
.ntfySpan			{ float:left; width:400px; padding-left:5px; }
.ntfySpan img		{ margin-right:5px; }
.srchSpan			{ float:right; width:225px; height:20px; }
.srchSpan .srchFld	{ width:160px; border:1px solid #71a4d6; }
.srchSpan .srchBtn	{ width:50px; font-size:12px; font-weight:bold; background:#dde7f1; border:none; cursor:pointer; margin-left:-3px; }



/*================== Main Content ==================*/
.main-Cntnt				{ float:left; width:100%; margin-top:15px; }
.main-Cntnt .lft-Cntnt	{ float:left; width:800px; padding-right:12px; padding-bottom:15px; border-right:1px solid #e2e2e2; }
.wlcmDv					{ float:left; width:100%; background:url(../images/wlcm-bg.jpg) bottom left repeat-x; padding-bottom:10px; }
.wlcmTxt				{ float:left; width:600px; padding:5px 0; }
.wlcmTxt img			{ float:left; margin:-1px -1px -1px 0; margin-right:5px; }
.wlcmTxt a				{ float:left; clear:left; font-size:13px; font-weight:bold; color:#f68e56; margin-top:20px; }
.wlcmTxt a:hover		{ color:#000; }
.wlcmDv .movie-player	{ float:right; border:1px solid #d1d1d1; }



/*================== Checklist Dv ==================*/
.chkLstDv				{ float:left; width:96%; background:#fdf2e5; margin-top:10px; padding:15px; border-top:1px solid #fbc482; }
.chkLstHdng				{ float:left; width:100%; }
.chkLstTtl				{ float:left; width:450px; font-size:12px; color:#333; }
.chkLstTtl h2			{ color:#000; text-transform:uppercase; margin:0; }
.chkLstLnk				{ float:right; margin-top:14px; }
.trckPrgrs				{ float:left; width:100%; margin-top:10px; border:1px solid #999; }
.trckPrgrs	.tracLft	{ float:left; width:8px; height:93px; background:url(../images/trac-prgrs-lft.gif) top left no-repeat; }
.trckPrgrs	.tracRit	{ float:Right; width:8px; height:93px; background:url(../images/trac-prgrs-rit.gif) top right no-repeat; }
.trckPrgrs	.tracBg		{ float:left; width:97.9%; height:78px; background:url(../images/trac-prgrs-bg.gif) top left repeat-x; padding:8px 0;}
.tracBg h5				{ margin:0; padding:0; color:#000; margin-left:5px; }
.tracSpan				{ float:left; width:99.5%; margin-left:2px; margin-top:5px; }

.showAreaDv				{ float:left; width:100%; margin-top:10px; }
.showAreaDv .showTop	{ float:left; width:100%; height:6px; background:url(../images/show-area-top.gif) top left no-repeat; }
.showAreaDv .showBg		{ float:left; width:98.5%; background:url(../images/show-area-bg.gif) top left repeat-y; padding:0 5px; }
.showAreaDv .showBot	{ float:left; width:100%; height:6px; background:url(../images/show-area-bot.gif) top left no-repeat; }

/*================== Left Percentage area ==================*/
.dateDv					{ float:left; width:270px; padding:5px; padding-right:8px; border-right:1px solid #e1e1e1; }
.dateDv h6				{ float:left; width:95%; padding:5px 7px; margin:0; font-size:11px; font-weight:bold; background:#ececec; color:#226dc8; margin-bottom:5px; }
.dateDv .lftPrcntg		{ float:left; width:100%; background:url(../images/show-area-bg.jpg) top left repeat-x; padding-top:5px; }
.lftPrcntg .prcntgLnk	{ float:left; width:100%; display:block; cursor:pointer; background:url(../images/prgrs-lnk-bdr.jpg) top right no-repeat; border-bottom:1px solid #d7d7d7; }
.prcntgLnk .alphaSpan	{ float:left; width:45px; height:36px; text-align:center; font-size:18px; font-weight:bold; color:#fff; background:url(../images/albhabet-bg.jpg) top left repeat-x; padding-top:9px;  }
.prcntgSpan				{ float:left; width:212px; margin:3px 5px 3px 5px; height:37px; }
.prcntgBar				{ float:left; width:212px; background:url(../images/prcntg-bar-bg.jpg) top left repeat-x; height:17px; }
.prcntgBar .pcont		{ float:left; width:100%; height:17px; background:url(../images/prcntg-bar-over.jpg) top left repeat-x; font-weight:bold; color:#333; text-align:right; }
.pcont strong			{ margin-right:5px; margin-left:5px; }
.prcntgBar .pComplete	{ float:left; width:100%; height:17px; background:url(../images/prctng-bar-complete.jpg) top left repeat-x; font-weight:bold; color:#333; text-align:right; }
.pComplete strong		{ margin-right:5px; }
.prcntgTxt				{ float:left; width:100%; color:#666; margin-top:3px; }
.prcntgTxt strong		{ color:#f7941d; }
.prcntgLnk:hover		{ text-decoration:none; background:url(../images/prgrs-lnk-bdr-over.jpg) top right no-repeat; }
.prcntgLnk:hover .alphaSpan	{ color:#fff; background:url(../images/alphabet-bg-over.jpg) top left repeat-x; padding-top:9px;  }

.prcntgCurrent			{ float:left; width:100%; display:block; cursor:pointer; background:url(../images/prgrs-lnk-bdr-over.jpg) top right no-repeat; border-bottom:1px solid #d7d7d7; }
.prcntgCurrent:hover	{ text-decoration:none; background:url(../images/prgrs-lnk-bdr-over.jpg) top right no-repeat; }
.prcntgCurrent .alphaSpan{ float:left; width:45px; height:36px; text-align:center; font-size:18px; font-weight:bold; color:#fff; background:url(../images/alphabet-bg-over.jpg) top left repeat-x; padding-top:9px;  }

/*================== Right Overview Div ==================*/
.ovrViewDv				{ float:right; width:460px; padding:5px 5px 5px 0px; }
.ovrViewDv h6			{ float:left; width:97%; padding:5px 7px; margin:0; font-size:11px; font-weight:bold; background:#ececec; color:#226dc8; margin-bottom:5px; }
.ovrViewDv .ovrViewTxt	{ float:left; width:100%; background:url(../images/show-area-bg.jpg) top left repeat-x; padding-top:5px; }
.ovrViewTxt h3			{ float:left; width:99%; margin:0; padding:0; color:#f7941d; }
.dedline				{ float:left; width:100%; font-size:11px; font-weight:bold; margin-bottom:5px; }
.ovrViewTxt h5			{ float:left; width:97%; padding:8px 0; padding-left:10px; color:#959595; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; }
.ovrViewTxt h5 a		{ float:right; }
.qstnsArea				{ float:left; width:100%; }
.qstnsArea .qstnLst		{ float:left; width:93%; list-style-type:decimal; font-weight:bold; color:#333; margin-left:5px; padding-left:25px; line-height:47px; margin-top:0px; margin-bottom:0px; }
.qstnLst li a			{ float:right; margin-top:13px; }


/*================== Three Col Area ==================*/
.threeColDv				{ float:left; width:100%; background:url(../images/3col-bg.jpg) top left repeat-x; margin-top:15px; padding-top:20px; }
.threeColDv .col1		{ float:left; width:30%; padding:8px; background:#dde7f1; border-top:1px solid #226dc8; }
.threeColDv .col2		{ float:left; width:30%; padding:8px; background:#dde7f1; margin:0 16px; border-top:1px solid #226dc8; }
.threeColDv .col3		{ float:right; width:30%; padding:8px; background:#dde7f1; border-top:1px solid #226dc8; }
.threeColDv h4			{ float:left; margin:0px; padding:0px; color:#000; }
.colSpan				{ float:left; width:93.5%; margin-top:3px; padding:5px 8px; height:230px; background:#fff; }
.colSpan h5				{ float:left; width:100%; margin:0; padding:0; color:#333; }
.colSpan .pstd-Dte		{ float:left; width:100%; font-size:11px; font-weight:bold; color:#999; }
.colSpan span			{ float:left; width:100%; font-size:12px; margin-top:5px; margin-bottom:10px; line-height:15px;  }
.colSpan .abuseBtns		{ float:left; width:100%; }



/*================== Ad Area ==================*/
.main-Cntnt .adDv		{ float:right; width:152px; margin-right:4px; }
.adDv .ad1				{ float:right; margin-bottom:10px; border:1px solid #ccc; }
.adDv .adLnk			{ float:left; width:100%; }
.adLnk a				{ color:#999; font-weight:bold; text-decoration:underline; }
.adLnk a:hover			{ text-decoration:none; color:#666; }



/*================== Start Page Container ==================*/
#cntainer .footer		{ float:left; width:100%; margin-top:10px; margin-bottom:50px; }
.footer .ftrLft			{ float:left; width:12px; height:22px; background:url(../images/ftr-lft-crnr.jpg) top left no-repeat; }
.footer .ftrbg			{ float:left; width:953px; height:22px; background:url(../images/ftr-bg.jpg) top left repeat-x; }
.footer .ftrRite		{ float:right; width:12px; height:22px; background:url(../images/ftr-rite-crnr.jpg) top left no-repeat; }
.footer .ftrLnks		{ float:left; width:100%; margin-top:15px; }
.ftrLnks a				{ color:#000; }
.ftrLnks a:hover		{ color:#226dc8; }
