<% content_for :ads do %>
  <span class="ad1">
    <%= image_tag "AD - ContactUsNew150px.jpg", :alt => "ContactUs Image" %>
  </span>
<% end %>

<div class="cntctUs">
  <h3>
    <%= @message_contact_us.title %>
  </h3>
  <br />
  <%= @message_contact_us.content %>
  <br />
  <br />
  <%= link_to "<< Back", @url_for_back %>
  <br />
  <br />
</div>
