<div id="ContentBottom">
  <div class="areYouEntreprenuer">
    <h2>Are Your An Entreprenuer?</h2>
    <img src="/images/bulb-icon.jpg" alt="Are Your An Entreprenuer?" />
    <p>
      Ever wonder if you have what it takes to start your own company? Starting a business can be challenging, and it isn't for everyone.
      <%= link_to 'Take our quiz and see how you fare.', quiz_reply_for_path('am-i-an-entrepreneur') %>
    </p>
  </div>
  <div class="tenSteps">
    <h2>Is Your Idea Viable?</h2>
    <img src="/images/thumb-img.gif" alt="Discover the 10 Steps to Start-Up" />
    <p>
      Not every great idea becomes a successful business. Take our quiz to determine your idea's business potential.
      <%= link_to 'Take our quiz and see how your idea fares.', quiz_reply_for_path('is-my-idea-viable') %>
    </p>
  </div>
</div>