<% content_for :ads do %>
  <span class="ad1">
    <%= image_tag "AD - Privacy Policy - Building150px.jpg", :alt => "Inspiration Image" %>
  </span>
<% end %>

<div class="cntctUs">
  <h3>WICKED START.com PRIVACY POLICY</h3>
  <br />
  Wicked Start LLC, a limited liability company registered in the state of
  Delaware (“Wicked Start”, “We” or “Company”) is committed to protecting
  your privacy. We created this Privacy Policy in order to demonstrate that
  commitment and to ensure the confidence of visitors to our
  <a href="/">www.wickedstart.com</a> Web site (the "Site").
  <br />
  <br />
  All information that you voluntarily submit to us will be electronically
  delivered to our web servers located in the United States. BY USING THIS
  SITE YOU CONSENT TO THE TRANSFER OF THIS INFORMATION AND TO OUR USE OF
  SUCH DATA AS OUTLINED IN THIS POLICY.
  <br />

  <h5>TYPES OF INFORMATION COLLECTED</h5>
  We collect three types of information:
  <br />
  <br />
  <ul style="list-style-type:decimal">
    <li>
      Traffic Data. Our Site automatically recognizes the following
      non-personally identifiable information when you visit the Site:
      (i) IP address; (ii) domain server; (iii) type of computer; and
      (iv) type of web browser (collectively "Traffic Data"). Traffic Data
      is anonymous information that does not personally identify you, but
      is helpful for marketing purposes and for improving your experience
      on the Site. We use this information to examine our traffic in aggregate
      and to ensure the security of the data and our infrastructure.
    </li>
    <li>
      Business Information.  As part of Wicked Start’s service, you may 
      choose to upload and store information related to your business or
      planned business to the Site.  Such information may include business
      plans, investor presentations, and other documents related to your
      business or planned business (collectively, the “Business Information”).
      Wicked Start understands and recognizes the sensitivity of your Business
      Information and the need to protect its security and confidentiality.
      As such, Wicked Start and its employees are fully committed to holding
      your Business Information in strict confidence.  Except as described
      in the Terms of Use, Wicked Start and its employees will not share or
      disclose your Business Information with any other parties.
    </li>
    <li>
      Personal Information. In order for us to fully serve you and for you
      to fully access certain services that we offer via the Site, we require
      you to provide us with information that personally identifies you or your
      company ("Personal Information"). Personal Information may include:
      (i) Contact Data (such as your name, job title, occupation, phone number,
      company name, company address, mailing and e-mail addresses);
      (ii) Financial Data (such as your account or credit card number);
      (iii) Demographic Data (such as your zip code, age and income). If you
      communicate with us by e-mail, send or post messages or other
      communications on our Site, or otherwise complete online forms, surveys,
      or any other data-gathering technologies that we may provide,  any
      information provided in such communication may be collected as Personal
      Information. Our use of this Personal Information is set forth below.
      SUBMITTING PERSONAL INFORMATION IS YOUR CHOICE. You may choose not to
      provide us with any Personal Information. In such an event, you can
      still access and use certain portions of the Site; however you will not
      be able to access and use those portions of the Site that require your
      Personal Information.
    </li>
  </ul>

  <h5>USE OF PERSONAL INFORMATION COLLECTED</h5>
  The Personal Information you enter on this Site is used to respond or
  contact you when necessary and to provide our visitors with a better
  Internet experience. When you sign up for our newsletter, sign up for a
  membership account, or otherwise request information or services from
  Wicked Start, we collect certain Personal Information from you including
  your name, address, email address and telephone number. From time to time,
  we aggregate Personal Information entered into our Site in order to identify
  our demographic audience (collective characteristics/ behavior) and to
  measure overall interest in specific areas of the Site. By aggregating the
  Personal Information into a form whereby we can no longer personally identify
  you, we are allowed to analyze how and where to best use our resources
  without impinging on your privacy. Wicked Start may share such aggregated
  data with third parties and sales prospects, and we may use this information
  for promotional purposes. Also, Wicked Start occasionally makes contact
  information available to select outside companies whose products or services
  we feel may be of interest to you. Except as otherwise provided in this
  Privacy Policy and the Wicked Start Terms of Use, we will keep your Personal
  Information private unless such disclosure is necessary to:
  <ul style="list-style-type:lower-alpha;">
    <li>Comply with the law, a court order or legal process; </li>
    <li>Protect our rights or property; or </li>
    <li>Enforce our Terms of Use. </li>
  </ul>

  <h5>SECURITY OF PERSONAL INFORMATION</h5>
  Your Personal Information is stored on secure web servers that are not
  accessible by third parties. However, while we take efforts to ensure the
  integrity and security of the networks and systems that we use to provide
  our products and services, we cannot absolutely guarantee that our security
  measures will prevent third-party "hackers" or other malfeasants from
  illegally obtaining this information and we cannot and do not assume
  liability for any breaches of this privacy policy that may occur either due
  to illegal breaches of our security or to any malfunctions of the technology
  utilized by Wicked Start.
  <br />

  <h5>NEWSLETTER SUBSCRIPTION INFORMATION</h5>
  You may choose to receive Wicked Start’s newsletter by signing up on the
  Site; those who sign up for a membership account with Wicked Start will
  receive our newsletter automatically.  If you would like to unsubscribe
  from the Wicked Start newsletter at any time, simply click on the opt-out
  link provided in the newsletter.

  <h5>OTHER LIMITS TO YOUR PRIVACY</h5>
  The Site contains links to other Web sites. We are not responsible for the
  privacy practices or the content of such Web sites. We also may make chat
  rooms, forums, message boards, and news groups available to you. Please
  understand that any information that is disclosed in these areas becomes
  public information. We have no control over its use and you should exercise
  caution when deciding to disclose your Personal Information.
  <br />

  <h5>RIGHT TO CHANGE PRIVACY POLICY</h5>
  We reserve the right, at any time and without notice, to add to, change,
  update or modify this Privacy Policy, simply by posting such change,
  update or modification on the Site. Any such change, update or
  modification will be effective immediately upon posting on the Site.
  <br />

  <h5>PRIVACY POLICY RELATED TO MINORS</h5>
  This Site is not intended for persons under the age of 18. Please see our
  Terms of Use regarding our policy for persons under the age of 18.
  <br />

  <h5>CONTACT FOR PRIVACY INQUIRIES</h5>
  If you have any questions about this Privacy Policy please contact us at 
  <a href="mailto:info@wickedstart.com">info@wickedstart.com</a>
  <br />
  <br />
  Wicked Start LLC
  <br />
  1040 6th Avenue, 24th Floor
  <br />
  New York, NY 10018
  <br />
  <br />
  Phone: (646) 863-4939
  <br />
  <br />
</div>
