<%#*<div class="main-Cntnt">%>
  <%#*<div class="launchTopBg" style="margin-top:-14px;"></div>%>
  <div class="stepMnTtl">
    <h5>TAKE A TOUR</h5>
  </div>
  <div class="stepMnDv" style="background:none;">
    <div class="stepDv">
      <span class="stepImg"><img src="images/icons/step-1.jpg" /></span>
      <span class="tourtxt">
        Answer a few questions to help us create your customized Wicked Start roadmap<br /><br />
        <img src="images/tour-1st-step.jpg" />
      </span>
    </div>
    <div class="stepDv">
      <span class="stepImg"><img src="images/icons/step-2.jpg" /></span>
      <span class="tourtxt">
        Your personalized roadmap will display your concrete action items, guiding you through the process of starting a business<br /><br />
        <img src="images/tour-2nd-step.gif" />
      </span></div>
    <div class="stepDv">
      <span class="stepImg"><img src="images/icons/step-3.jpg" /></span>
      <span class="tourtxt">
        Within each action item, you learn about the relevance of each step, download templates, preview examples, add notes or even upload your own files. When you’re done with each action item, simply check it off as complete! Each action item marked complete, brings you that much closer to starting your business, which you can view from your progress bar.<br /><br />
        <%#*<img src="images/tour-3rd-step.jpg" width="565" height="487" />%>
        <img src="images/tour-3rd-a-step.gif" />
        <br />
        <img src="images/tour-3rd-b-step.gif" />
      </span>
    </div>
    <div class="stepDv">
      <span class="stepImg"><img src="images/icons/step-4.jpg" /></span>
      <span class="tourtxt">
        Get guidance from the Wicked Start community by connecting with experts and peers.<br /><br />
        <%#*<img src="images/tour-4th-step.jpg" />%>
        <img src="images/tour-4th-a-step.gif" />
        <br />
        <img src="images/tour-4th-b-step.gif" />
      </span></div>
    <div class="stepDv" style="border-bottom:none;">
      <span class="stepImg"><img src="images/icons/go-icn.gif" /></span>
      <span class="tourtxt">
        Your partner in managing the start-up process, every step of the way
      </span></div>
  </div>
<%#*</div>%>

