<%= render :partial => "admins/admin_client_information_menu", :locals => { :active_admin_client_information_tab => :event_tab } %>

<% title "Edit Event" %>

<div class="admnRitCol">
  <h1>Edit Event</h1>
  <%= render :partial => 'form', :locals => {:event => @event} %>
</div>
