Hi 
<b>
  <%= @to_name %>
</b>
<br />
<br />
<p>
  New message from
  <b>
    <%= @from_name %>
  </b>
  about
  <b>
    <%= @subject %>
  </b>
</p>
<br />
<b>
  Message Text follows ...
</b>
<br />
<br />
<p>
  <%= @message %>
</p>
<br />
