<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear Subscriber," %>
      </font>
    </p>
    <br />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
          Thanks for signing up for our Monthly WIBO Newsletter. At the beginning of each month, we'll email you tips for starting a business, success stories, and letting
    you know about resources to help you get going! Read our complimentary
      </font>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
        <strong>
          <%= link_to "&#8220;10 Step to StartUp Guide&#8221;", "http://www.wickedstart.com/ten_steps", :style => "color:#FA9B31; text-decoration:none;" %>
        </strong>
      </font>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        now. <p>Feel reach to out and email us with any questions that you may have about
          starting a business at Holly@wickedstart.com.</p>
      </font>
    </p>
    <br />
    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#000000">
        Regards,
        <br />
        <br />
        Holly Artz
      </font>
      <br />
      <br />
      <!--<a href="http://www.wickedstart.com/privacy_policy">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Privacy Policy</strong>
        </font>
      </a>-->
    </p>
    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#fa9b31" align="center">
            <a style="color:#ffffff; font-weight:bold; font">
              www.wibo.wickedstart.com
            </a>
          </td>
        </tr>
      </table>
    </p>

  </body>
</html>

