<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear #{@user.first_name} #{@user.last_name}," %>
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        I want to take this opportunity to check in with you regarding your WIBO account. Have you had a chance to explore all of the features of the service in the past couple of days?  We're confident that with your Roadmap of action items, our community, and our vetted resources, we can help you with your startup. Watch our short <%=  link_to "How It Works", "http://www.youtube.com/watch?v=W_EF23skOkg", :target => '_blank' %> video to learn about your account features.
        <br /><br />
        Remember to check our startup Resources to help you setup, fund, and market your new business.
        <br /><br />
        Helpful Hint: Use the
        <%=  link_to "Resources", "http://wibo.wickedstart.com/resources" %> to find our vetted service providers for anything relating to starting up. You can find accountants, lawyers, funders, virtual/online phone systems, low cost marketing services, or other things you'll need. It's that easy.  (By supporting our sponsors, you're helping to support the maintenance of the Wicked Start operation so we can continue to offer you Wicked Start as a free service.)
        <br /><br />
        Remember, we're here to help you get going! Could we be doing something better? Let us know!
      </font>
    </p>
    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#000000">
        Regards,
        <br />
        <br />
        The WIBO Team
      </font>
      <br />
      <br />
      <br />
      <!--<a href="http://wibo.wickedstart.com/privacy_policy">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Privacy Policy</strong>
        </font>
      </a>-->
    </p>
    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#fa9b31" align="center">
            <a style="color:#ffffff; font-weight:bold; font">
              www.wibo.wickedstart.com
            </a>
          </td>
        </tr>
      </table>
    </p>
  </body>
</html>