Hi,
<br />
<br />
<p>
  <strong><%= @document[:sender] %></strong> shared this document, with following message 
</p>
<p>
  <span style="font-style: italic"><%= @document[:body] %></span>
</p>
<br />
