
<%=stylesheet_link_tag "style.css"%>
<div style="width:714px;height:483px;">
  <div style="float:left;width:329px">
    <%=image_tag "congrats-img.png"%>
  </div>
  <div style="float:left;margin-right:10px;width:365px">
    
      <%=image_tag "congrats-title.png",:style=>"margin-top:77px;"%>
    <p style="font-size:15px;width:365px;">
      At this point, you've completed all the Action Item in the 10 stpes necessay to start your business.
      <br />
      Recognize and appreciate all the time and energy that you've invested in turning your idea into a real business.
      <br /><br />
      Please email us at info@WIBO.WickedStart.com to share your feedback about your experience.
      <br /><br />
      We want to be your trusted partner inmanaging the startup process, each step of the way.
    </p>
<div style="float:left;margin-top:60px;">
<a onclick="$.fn.colorbox.close(); return false;" href="/"><img src="/images/close-quiz-btn.gif?1280431308" alt="Close"></a>
</div>
  </div>
</div>
