<%#*<div style="margin-top: -14px; margin-bottom: 15px;" class="launchTopBg"></div>%>

<span style="font-size: 14px;">
  Thank You
  <strong>
    <%= "#{@user.first_name}," %>
  </strong>
  for contacting Wicked Start. Please check your email for the password
  reset link.
  <br />
  <br />
  <%= link_to "Go back to home page", root_path %>
</span>
<br />
<br />
<br />
<br />
