<% item_1_06 = @project.sections.find_by_sequence_number(1).items.find_by_sequence_number(6) %>
<% item_1_07 = @project.sections.find_by_sequence_number(1).items.find_by_sequence_number(7) %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial, Helvetica, sans-serif;">
      <tbody>
        <tr>
          <td >
            <a target="_blank" href="http://wibo.wickedstart.com">
              <img border="0" alt="Workshop In Business Opportunities" src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328660340">
            </a>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding:10px 0;">
              <b>THE FIRST STOP FOR GETTING YOUR BUSINESS IDEA OFF THE GROUND</b>
            </p>
            <hr noshade size="1" color="#226DC8">
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
              <%= "Dear #{@project.user.first_name}," %>
            </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              <strong>
                "A man, to carry on a successful business, must have 
                imagination. He must see things as in a vision,
                a dream of the whole thing."—Charles M. Schwab
              </strong>
            </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Understanding what makes your business valuable is a
              powerful thing.
            </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              You've defined why someone would want to buy your product, 
              use your service, or work with you specifically. Take a moment
              to smile and envision your future success.
            </p>

            <% unless(item_1_06.blank? || item_1_07.blank?) %>
              <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
                You're making great progress.  When you're ready, and if you
                haven't done so already, move forward and think about your
                <%= "#{link_to "competition", display_item_url(item_1_06, :host => SITE_HOST_NAME), :style => "color:#f89b4b; text-decoration:none;"}" %>
                and how you'll
                <%= "#{link_to "market", display_item_url(item_1_07, :host => SITE_HOST_NAME), :style => "color:#f89b4b; text-decoration:none;"}" %>
                your product or service in Action Items 6 and 7.
              </p>
            <% end %>

            <br />
            <br />

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Sincerely,
            </p>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Bryan Janeczko and the Wicked Start Team
            </p>
            <br />
            <!--<p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
              <span><a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://wibo.wickedstart.com/privacy_policy">Privacy Policy</a></span>
            </p>-->
          </td>
        </tr>
        <tr>
          <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
            <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://wibo.wickedstart.com">wibo.wickedstart.com</a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
