<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial, Helvetica, sans-serif;">
      <tbody>
        <tr>
          <td >
            <a target="_blank" href="http://wibo.wickedstart.com">
              <img border="0" alt="Workshop In Business Opportunities" src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328660340">
            </a>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
            <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
          </p>
          <hr noshade size="1" color="#226DC8" />
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; ">
              <%= "Dear #{@project.user.first_name}," %>
            </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color:#333333;">
              <strong>
                <em>
                  <%= @quote %>
                </em>
              </strong>
            </p>

            <% @paragraphs.each do |paragraph| %>
              <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color:#333333;">
                <% chunks = paragraph.split("{_WSL_}") %>
                <% chunks.each do |chunk| %>
                  <% if chunk.index(/\{_[A-Z]{3}_\}/) %>
                    <%= wsl_linkify(chunk, @project) %>
                  <% else %>
                    <%= chunk %>
                  <% end %>
                <% end %>
              </p>
            <% end %>

            <br />
            <br />

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color:#333333;">
              Sincerely,
            </p>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color:#333333;">
              Workshop In Business Opportunities
            </p>
            <br />
            <!--<p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; ">
              <span><a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://wibo.wickedstart.com/privacy_policy">Privacy Policy</a></span>
            </p>-->
          </td>
        </tr>
        <tr>
          <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
            <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://wibo.wickedstart.com">wibo.wickedstart.com</a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
