            <div class="alrightMsg">
            <h1>Alright! Now we're amking progress</h1>
            <h2 class="msg1">Looks like we have just a few more tasks to complete for stage 1 before moving onto Stage 2: Industry. So let's get going!</h2>
            <h2 class="msg2">Stage 1: The Starting Block</h2>
            <ul>
            <li><img src="images/alright-list-blt.jpg" />6. Who is your competition?</li>
            <li><img src="images/alright-list-blt.jpg" />7. How will you market your product or service </li>
            <li><img src="images/alright-list-blt.jpg" />8. Does your idea have a potential?</li>
            </ul>
            <a href="#"><img src="images/cancel-icn.png" class="cancelBtn"/></a>
            </div>
