<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :radar_tab } %>

<% title "New Promotion" %>

<div class="admnRitCol">
  <h1>New Promotion</h1>
  <%= render :partial => 'form', :locals => {:promotion => @promotion} %>
</div>
