<div style="z-index:0;  padding-top:30px; padding-left:30px; padding-bottom:30px; padding-right:30px; #width:635px; #height:480px;" class ="flvIe8">
 <object width='635' height='480' id='flvPlayer'>
  <param name='allowFullScreen' value='true' />
  <param name='movie' value='/flvplayer/player.swf?movie=<%= @video_path %>&bgcolor=0x1dbdbdb&fgcolor=0x1b75bb&volume=50&autoload=on&autoplay=on&autorewind=on&clickurl=&clicktarget=' />
  <embed src='/flvplayer/player.swf?movie=<%= @video_path %>&bgcolor=0x1dbdbdb&fgcolor=0x1b75bb&volume=50&autoload=on&autorewind=on&autoplay=on&clickurl=&clicktarget=' width='640' height='480' allowFullScreen='true' type='application/x-shockwave-flash' >
 </object>
</div>

