<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :features_tab } %>

<% title "NEW Feature" %>

<div class="admnRitCol">
  <h1>NEW</h1>
  <%= render :partial => "form", :locals => {:feature => @feature} %>
</div>