<% title "WIBO.WickedStart.com Pricing" %>
<% meta "Invest in your small business startup. Wickedstart.com will help you make your small small business a success." %>

<div class="subPageWrapper">
<%= link_to "7-DAY FREE TRIAL Sign Up Today!", signup_path, :class => "freeTrialBadge" %>
<h1>Features</h1>
<%= render :partial => "shared/features_breadcrumbs", :locals => {:current => :pricing} %>
<div class="clear"></div>
<h2 class="headLine">Make Starting Your Business a Reality</h2>

<div id="sideBarLeftPricing">
<%= link_to image_tag('/images/start-a-small-business-today-sign-up.jpg',:alt=>"Sign Up and Start A Small Business Today"), signup_path %>
<h2 class="leadInText">Sign up for your free, seven-day trial now! After the trial, you'll pay only $19.99 a month. <span>*</span> You can cancel anytime online.</h2>
<%#*<h2 class="leadInText">You can cancel anytime online.</h2>%>
<h2 class="leadInText">Signup now to create your personalized account and in a few easy steps, you'll be on your way to starting your business.</h2>
<p><span>*</span> At the end of the seven-day trial, we will bill your account for the first month's subscription fee of $19.99. You can cancel your account online at anytime during the seven-day trial and pay nothing. If you continue with the Wicked Start service, you will automatically be billed $19.99 every 30 days.
To read more about our billing policies contained in the Terms and Conditions, along with refund and cancellation policies, <%= "#{link_to("Click here", terms_and_conditions_path)}" %></p>
</div>

<div id="futureContent">
<h3 class="header">Your account includes:</h3>
<%#*<div class="futureIncludes">%>
<%#*<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content1.jpg"></div>%>
<%#*<div class="includesLst">%>
<%#*<h2 class="leadInText">7-DAY TRIAL PERIOD</h2>%>
<%#*<p>Nulla tempus massa non velit dictum consectetur. Nullam est dui, fermentum in bibendum mattis, vulputate in ipsum. Pellentesque gravida urna at leo aliquet eget consectetur nisi blandit. Nulla iaculis orci id turpis varius auctor.</p>%>
<%#*</div>%>
<%#*</div>%>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content2.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">PROGRESS TRACKING</h2>
<p>This feature is a visual graph that tracks your progress as you complete each action item. After each item is marked 'complete', your progress bar moves closer to 100%. This simple yet telling graph can give you the satisfaction of seeing how much you've completed and how much closer you are to your goal of starting your own business.</p>
</div>
</div>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content3.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">USER COMMUNITY</h2>
<p>The "Community" feature allows you to connect and communicate with Wicked Start and other early stage business owners and entrepreneurs in a private online forum. You can post questions and answers and search for information relevant to your own journey for starting a business.</p>
</div>
</div>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content4.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">RESOURCE CENTER</h2>
<p>This invaluable feature provides you with useful links to resources to help you start your business, including many businesses that we have partnered with to make Launch Pad your hub for managing this process. Whether it's finding the right legal forms, creating a logo, locating investors, printing business cards, or identifying an email marketing partner, there will be organized, low-cost, and easy to follow links for your startup needs.</p>
</div>
</div>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content5.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">MY FILES</h2>
<p>This feature allows you to manage all of your files in connection with turning your idea into a business. You can organize, upload, and download files you've posted, whether they're documents, spreadsheets of presentations. It really helps to keep everything in one place for easy reference and access.</p>
</div>
</div>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content6.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">ACCESS TO PLANNING TEMPLATES</h2>
<p>This feature provides you with key business planning templates that you can use along the way. These templates include a business plan, an investor pitch, financial spreadsheets, and a Non-Disclosure Agreement (NDA). There will also be sample documents included as well that help illustrate how to best use them.</p>
</div>
</div>
<div class="futureIncludes">
<div class="includesLogo"><img alt="News Logo-1" src="/images/video-thumbnails/future-content7.jpg"></div>
<div class="includesLst">
<h2 class="leadInText">REMINDERS</h2>
<p>This feature is an email notification to let you know when action items are coming due. This gentle reminder can provide a 'nudge' to help you complete your action items within the timeframe that you specify. If your </p>
</div>
</div>

</div>
</div>
<div class="clear"></div>