<% title "COMMING SOON" %>

<div class="subPageWrapper">
  <%= link_to "7-DAY FREE TRIAL Sign Up Today!", signup_path, :class => "freeTrialBadge" %>

  <h1>COMING SOON</h1>

  <h2 class="headLine">
    This page in under construction.
  </h2>

</div>
