<% title "COMMUNITY GUIDELINES" %>

<div class="subPageWrapper">
  <%= link_to "7-DAY FREE TRIAL Sign Up Today!", signup_path, :class => "freeTrialBadge" %>

  <h1>COMMUNITY GUIDELINES</h1>
  <div class="clear"></div>

  <p>
    The Wicked Start Community is a place to meet, interact and share ideas with others interested in the same topics as you are.
    Just like any other community, it works best with a few rules. By posting in the Wicked Start Community you agree to abide by our Community Guidelines.
  </p>
  <p>
    Wicked Start reserves the right to remove content that we determine to be inappropriate and/or in violation of our Community Guidelines and/or our Terms of Use.
    We monitor our Community carefully to make sure that guidelines are upheld.
  </p>
  <p>
    Don’t forget that these guidelines are here to help keep our community a positive, constructive place for people to exchange knowledge and information.
  </p>

  <h3 class="header">
    What to do
  </h3>

  <ul class="comm-guidelines">
    <li>
      <strong>Be generous and open:</strong> Share what you know. Ask for help and help others in return.
    </li>
    <li>
      <strong>Play nice:</strong> We are a diverse community with many different types of people and many different opinions. You may not always agree with the opinions expressed by others, and they may not agree with yours.
      But we all have a right to our opinions. So, be polite and respectful in your interactions with other members.
    </li>
    <li>
      <strong>Get to the point:</strong> Keep your questions brief, but provide enough information so that people understand what you’re asking.
      The clearer your question, the better the answers you’ll get.
    </li>
    <li>
      <strong>Categorize your question correctly:</strong> Placing your question in the correct category ensures that it will be seen by the appropriate Wicked Start experts and also by people within the Community who can give you better information and more accurate answers.
    </li>
    <li>
      <strong>Keep it relevant:</strong> For everyone's benefit please stay on topic. Refrain from discussing personal matters, chatting or posting blatantly off-topic or non-sequitur submissions that add no value to the discussion. Do not derail topics. Start a new topic if you want to begin a new discussion.
    </li>
    <li>
      <strong>Be discreet:</strong> You should not share or post anyone else's personal information, or re-transmit messages from members of this Community without first obtaining those members’ permission.
    </li>
  </ul>
  <h3 class="header">
    What not to do
  </h3>
  <ul class="comm-guidelines">
    <li>
      Venting, ranting, obscenity or using offensive, abusive, fraudulent, defamatory or inflammatory language will not be tolerated.
    </li>
    <li>You may not post anything that is in violation of federal or state law.</li>
    <li>
      <strong>No direct fundraising, advertising, spam or exploiting the Community for financial gain.</strong><br />
      You may not post links or messages that are blatantly not related to the topic and/or that are clearly meant only to solicit others for personal and financial gain. If we find you engaging in commercial activity, we will warn you or delete your account.
    </li>
  </ul>
  <h3 class="header">
    How to report abuse
  </h3>
  <p>To report behavior or content that you believe is in violation of these guidelines,
    please send us a brief email to <a href="mailto:community@wickedstart.com">community@wickedstart.com</a> to let us know the nature of that behavior or content, and we will investigate.
  </p>
  <h3 class="header">
    Questions about these community guidelines
  </h3>
  <p>
    Wicked Start message board guidelines are determined through community feedback and community consensus. If you have comments, questions, concerns or suggestions about these guidelines,
    please send us an email at <a href="mailto:community@wickedstart.com">community@wickedstart.com</a>.
  </p>
</div>
