<%= render :partial => "admins/admin_profile_menu", :locals => { :active_admin_profile_tab => :registration_codes } %>
<div class="admnRitCol">
  <h1>Editing Registration Code</h1>
  <%= render :partial => 'form' %>
</div>