<div class="adDv">
  <%= yield :ads %>
<%#*<span class="ad1">%>
<%#= link_to image_tag("banner-01.jpg"), root_url %>
<%#*</span>%>
<%#*<span class="ad1">%>
<%#= link_to image_tag("banner-02.jpg"), root_url %>
<%#*</span>%>
  <%#*<span class="adLnk">%>
<%#*<a href="#">ADVERTISE WITH US</a>%>
    <%#*<a href="mailto:info@wickedstart.com?subject=Feedback">Suggestions or Feedback?</a>%>
  <%#*</span>%>
</div>