<div id="footer" class="clear">
  <p>
    &copy; <%= Date.today.year %> Wicked Start, LLC. All rights reserved. Various products,
    solutions, methodologies, processes and techniques presented and/or
    described on this Web site, are proprietary to Wicked Start LLC,
    and are patent pending. Wicked Start™ is a trademark of Wicked Start, LLC
  </p>
</div>