<div class="footer">
  <span class="ftrLft"></span>
  <span class="ftrbg"></span>
  <span class="ftrRite"></span>
  <span class="ftrLnks">
    <%= link_to image_tag("powered-logo.png"), "http://www.wickedstart.com", :target => '_blank' %>
  </span>


  <span class="dsclmr">
    © 2010 Wicked Start, LLC. All rights reserved. Various products, solutions, methodologies, processes and techniques presented and/or described on this Web site, are proprietary to Wicked Start LLC, and are patent pending. Wicked Start TM is a trademark of Wicked Start, LLC
  </span>
</div>

